body{
    overflow-x: hidden;
    justify-content: left;
}
.container{
    padding: 5vh 5vw;
}
.button{
    width: 100%;
}
#save-entry{
    width: 80%;
}
.journal-list{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    overflow-y: auto;
}
#journal-entry-container{
    width: 90%;
    margin-right: 10vw;
}
#options-pop-up{
    top: 100%;
    right: 1%;
}
#entry-pop-up{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 2vh 2vw;
}
.input-field{
    width: 75%;
    margin-bottom: 2vh;
}
#logout{
    color: #ff0000;
}
#logout:hover{
    color: #e00000;
}
#welcome-header {
    text-align: center;
    margin-top: 10vh;
}
